<div class="container text-center">
<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <%= link_to "See details", restaurant, class: "btn btn-primary"%>
<% end %>
</div>
