<div class="container item-center">
  <h1 class="text-center">You want to review <%= @restaurant.name %> ?</h1>
  <%= render "review_form" %>
  <%= link_to "go back to index", restaurants_path, class: "btn btn-primary",style:"margin-top: 10px"%>
</div>
